module CONFIG
  SERVER      = 'irc.twitch.tv'
  PORT        = 6667
  USER        = 'asdasd'
  PASSWORD    = 'oauth:asdasd'
  
  PASTBIN_KEY = 'asdasd'
  
  TWITTER_CONSUMER_KEY = "asdsa"
  TWITTER_CONSUMER_SECRET = "asdasasd"
  TWITTER_ACCESS_TOKEN = "adsasdasd-asdasdad"
  TWITTER_ACCESS_SECRET = "asddaasdads"
  
  TEAM_LINK	  = "http://www.gosugamers.net/dota2/teams/asdasdas"
  
  STEAM_KEY   = "asdadasdasd"
  
  ADMINS      = ["asdsadasd", "asdasdsd"]
  
  LOGFILE     = './logs/%s.log' 
  LOGTRUNCATE = 100
  DEBUG       = true
  VERBOSE     = true
  MESSAGEDELAY = 3
  MESSAGEMAXLENGTH = 800
  MESSAGEPREFIX = ""
  MESSAGEDELIMITER = " | "
  
end
